<div class="row">
  <div class="col-6"><h5>Usuários</h5></div>
  <div class="col-6 text-right">
    <button class="btn btn-success" type="button">
      <%= link_to 'Adicionar', new_user_path %>
    </button>
    
  </div>
</div>
<br>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Usuário</th>
      <th scope="col">E-mail</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><button class="btn btn-primary" type="button"><%= link_to 'Editar', edit_user_path(user) %></button>
            <button class="btn btn-danger" type="button"><%= link_to 'Excluír', user, method: :delete, data: { confirm: 'Você tem certeza disso?' } %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>